@import 'tailwindcss';

:root {
  --foreground: #000000;
}

html {
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  font-family: var(--font-quicksand);
}

@layer components {
  .error-message {
    @apply text-red-600 text-sm;
  }
  .word-card {
    @apply w-full max-w-7xl px-4 py-3 rounded-2xl text-lg font-medium bg-gradient-to-br border-l-8;
  }
}
