@import 'tailwindcss';

:root {
  --foreground: #000000;
}

html {
  overscroll-behavior: none;
}

body {
  color: var(--foreground);
  font-family: var(--font-quicksand);
}

@layer components {
  .error-message {
    @apply text-red-600 text-sm;
  }
  .word-card {
    @apply w-full max-w-7xl px-4 py-3 rounded-2xl text-lg font-medium bg-gradient-to-br border-l-8 shadow-sm;
  }
  .word-card-span {
    @apply rounded-full px-2 py-1 text-xs;
  }
  .word-card-button-container {
    @apply flex items-center gap-4;
  }
  .word-card-content-container {
    @apply flex items-center justify-between;
  }
  .word-card-title {
    @apply text-xl font-bold;
  }
  .word-card-meanings-container {
    @apply flex gap-4;
  }
  .word-card-meanings {
    @apply flex-1 max-w-fit p-2;
  }
  .word-card-meanings-part-of-speech {
    @apply text-xl font-semibold;
  }
  .word-card-meanings-definitions {
    @apply list-disc list-inside;
  }
  .keycap-style {
    @apply rounded-md bg-stone-100 px-2 py-0.5 text-xs font-semibold ring-1 ring-stone-200;
  }
  .form-input-label {
    @apply block text-sm font-medium mb-1;
  }
  .form-input {
    @apply w-full px-4 py-2 border border-stone-300 rounded-lg;
  }
  .show-password-button {
    @apply absolute inset-y-0 right-3;
  }
}
